# Text file
*.md
LICENSE

# Experiments config files
configs/RunExperiments/*
experiments/*
Experiments/*

# Log files
logs/*
runs/*
eval_result/*

# ckpt
ckpt/*

# data
data/*

# archive
archive/*

# vscode
.vscode/*

# Python virtual environment
.venv

# Other
*.swp
*.swo
__pycache__
.DS_Store
