torch>=2
torchvision
pyyaml
numpy
opencv-python
submitit
braceexpand
webdataset
timm
decord
pandas
einops
beartype
tqdm
tensorboardX
gymnasium
diffusers[torch]==0.34.0
transformers==4.54.1
scikit-image==0.25.2